In [32]:
from dask.distributed import Client, LocalCluster, Worker
import dask.dataframe as dd
import pandas as pd
import numpy as np
import os
import re

In [24]:
tle_dtypes = {
    'SatID': 'object'
    , 'LaunchYear': np.int
    , 'NthLaunch': np.int
    , 'CharLaunchObject': 'object'
    , 'EpochYear': 'object'
    , 'BallisticCoef': 'object'
    , 'SecDerivMeanMotion': 'object'
    , 'DragTerm': 'object'
    , 'EphemerisType': np.int
    , 'ElemNumCheckSum': np.int
    , 'SatNumID': 'object'
    , 'Inclination': np.float
    , 'RightAscension': np.float
    , 'Eccentricity': np.float
    , 'ArgPerigree': np.float
    , 'MeanAnomaly': np.float
    , 'MeanMotion': np.float
    , 'RevNumEpochCheckSum': np.float
}

tle_columns = [col for col in tle_dtypes]

tle_data = dd.read_csv('./data/Scenario_Data/TLE/test.clean.txt'
                       , names=tle_columns
                       , dtype=tle_dtypes
                       , sep='|'
                       , encoding='utf-8'
                      )

tle_data.head()

,SatID,LaunchYear,NthLaunch,CharLaunchObject,EpochYear,BallisticCoef,SecDerivMeanMotion,DragTerm,EphemerisType,ElemNumCheckSum,SatNumID,Inclination,RightAscension,Eccentricity,ArgPerigree,MeanAnomaly,MeanMotion,RevNumEpochCheckSum
0,26619U,2000,75,A,2004-04-28T20:00:49.183776,-.00012193,00000-0,-27028-2,0,720,26619,98.2038,186.7557,1921.0,94.7873,265.3585,14.570848,182472.0
1,18549U,1968,91,DE,2004-04-28T14:18:48.216960,.00001801,00000-0,25919-2,0,283,18549,62.2415,180.1561,704892.0,265.6761,86.2771,12.852684,585614.0
2,18727U,1987,20,E,2004-04-28T15:59:40.727904,-.00000002,00000-0,10000-3,0,4084,18727,73.3600,345.6887,88152.0,270.3999,88.6911,12.642166,754869.0
3,18792U,1988,2,E,2004-04-28T19:38:29.895648,.00000029,00000-0,10000-3,0,6838,18792,82.6017,352.4844,14698.0,138.3284,221.8930,12.655116,752224.0
4,19027U,1981,53,MK,2004-04-28T19:45:13.686048,.00001280,00000-0,10755-2,0,7395,19027,83.0239,250.9465,84934.0,184.3222,175.7249,13.856401,953590.0

In [20]:
unique_sats = tle_data['SatID'].unique().count().compute()
print(unique_sats)

15

In [ ]:
def read_files(path, ext):
    file_list = []
    for root, folders, docs in os.walk(path):
        file_list.extend( [os.path.join(root, doc) for doc in docs if ext in doc] )

    return file_list

tle_files = read_files('./data/Scenario_Data/TLE/unzipped', '.clean.txt')
# tle_files = ['./data/Scenario_Data/TLE/test.txt']

for path in tle_files:  
    with open(path, 'r') as file:
        ct = 0
        while True:
            line = file.readline()
            if not line:
                file.close()
                break
            
            ct += 1
            col_len = len(line.split('|'))
            if col_len != 18:
                print(path, 'row:', ct, 'len:', col_len)

In [64]:
line = "2 26619  98.2038 186.7557 0001921  94.7873 265.3585 14.57084849182472\n"
last_num = re.findall(r'(?<=\s)\d+\.\d+(?=\n)', line)
print(last_num)

['14.57084849182472']

In [67]:
print( type([]) == type([]) )

True